@import "tailwindcss";

:root {
  --bg: #ffffff;
  --bg-light: #f5f5f5;
  --fg: #2a195f;
  --fg-light: #2b204c;
  --fg-light-hover: #6424c4;
  --brand: #ac4211;
  --brand-light: #ce5f2b;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--font-sans);
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --font-sans: var(--font-roboto-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --foreground: #ededed;
  }
} */

.bg {
  background-color: var(--bg);
}
.bg-light {
  background-color: var(--bg-light);
}

.fg-light {
  color: var(--fg-light);
}
.fg-light-hover:hover {
  color: var(--fg-light-hover);
}

.anim-opacity {
  animation: anim-opacity 0.4s both 0.1s;
}
@keyframes anim-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
